/*-----------------------------------------
    Theme Vars
-----------------------------------------*/

// @use "DiscordThemeVars" as *;
// @use "../DiscordThemeVars" as *;

// Version
$version: "v1.7.0 ";

// Global Vars
$contrast-border: var(--AMOLED-secondary-colour) 1px solid;

/* Global Variables */
:root
{
    /* AMOLED */
    --AMOLED-client-colour: #000000;
    --AMOLED-secondary-colour: #191b1e;
    --AMOLED-hover-colour: #0d0e0f;
    --AMOLED-active-colour: #131416;
}
