/*-----------------------------------------
    Theme Vars
-----------------------------------------*/

// Global Vars
$contrast-border: var(--AMOLED-secondary-colour) 1px solid;

/* Global Variables */
:root
{
    /* AMOLED */
    --AMOLED-client-colour: #000000;
    --AMOLED-secondary-colour: #191b1e;
}
