/*-----------------------------------------
    Messages
-----------------------------------------*/

// Imports
@use "DiscordThemeVars" as *;

/* Codeblock */
.theme-dark .markup-2BOw-j code
{
    border: $contrast-border;
}

/* Inline Code */
.theme-dark .markup-2BOw-j code.inline, 
.theme-dark .inlineCode-2ngu6Y
{
    border: $contrast-border;
    border-radius: 3px;
    border-color: (--AMOLED-secondary-colour);

    // border-color: transparent;
    // box-shadow: inset 0px 0px 0px 1px var(--AMOLED-secondary-colour);

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

/* Embeds */
.theme-dark .embedWrapper-lXpS3L .grid-1nZz7S
{
    border: $contrast-border;
    border-left: unset;
    border-radius: 0px 3px 3px 0px;
}

/* Message Quick Hover Options */
.theme-dark .buttonContainer-DHceWr .buttons-cl5qTG .wrapper-2aW0bm
{
    border: $contrast-border;
}

/* File Attachments */
.theme-dark .embedWrapper-lXpS3L.container-1pMiXm
{
    border: $contrast-border;
    border-radius: 3px;
}

/* Image Popouts */
.theme-dark .imageWrapper-2p5ogY.image-1tIMwV
{
    border: $contrast-border;
    border-radius: 4px;
}
.theme-dark .modal-qgFCbT.fullscreenOnMobile-1bD22y
{
    border: 0px;
}
