/*-----------------------------------------
    Tool Tips
-----------------------------------------*/

// Imports
@use "DiscordThemeVars" as *;

/* Tool Tip Border */
.theme-dark .tooltipPrimary-1d1ph4
{
    border: $contrast-border;
    top: 1px;
    left: 0px;
}

/* Tool Tip Custom Badge */
.theme-dark .fullscreenOnMobile-1bD22y[data-user-id="142795541833580544"] .profileBanner-33-uE1:hover:before,
.theme-dark .userPopout-xaxa6l[data-user-id="142795541833580544"] .popoutBanner-19WKGg:hover:before
{
    border: $contrast-border;
}

/* Remove triangles (for now) */
.theme-dark .tooltipPointer-3ZfirK,
.theme-dark .fullscreenOnMobile-1bD22y[data-user-id="142795541833580544"] .profileBanner-33-uE1:after,
.theme-dark .userPopout-xaxa6l[data-user-id="142795541833580544"] .popoutBanner-19WKGg:after
{
    display: none;
}
