/*-----------------------------------------
    Voice and Video
-----------------------------------------*/

@use "../DiscordThemeVars" as *;

/* Backgrounds */
.select-2fjwPw.lookFilled-22uAsw,
.popout-VcNcHB
{
    border: $contrast-border;
    border-radius: 4px;
}

/* Popout Location */
.popout-VcNcHB
{
    position: relative;
    bottom: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
